services:
  - type: web
    name: restaurant-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8080
      - key: SPRING_PROFILES_ACTIVE
        value: prod
    healthCheckPath: /actuator/health
    plan: free
    regions:
      - oregon  # o frankfurt, singapore